/* Importing Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Bungee+Shade|Crimson+Text|DM+Serif+Text&display=swap);

/* Importing all components file */ 

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


/* Colors and fonts */

body {
	color: #0D1F2D;
	margin: 0px;
}

h1 {
	color: white;
	font-family: 'Bungee Shade', cursive;
	font-size: 34px; 
	line-height: 1.6; 
}

h2 {
	color: #204D70;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'DM Serif Text', serif;

}

h3 {
	color: #575366;
}

h1, h2 {
	text-align: center;
    font-weight: bold;
}	

p {
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	text-align: justify;
}

ul {
	text-align: justify;
	font-size: 12px;
}	

#text-white {
	color: white;
	text-transform: none;
}

a {
	text-decoration: none;
}	

